.navbar {
	display: inline-block;
	background-color: #FE7F00;
	width: 100%;
	color: white;
	position: relative;
	top: -20px;
	left: -20px;
	padding-right: 35px;
	font-size: 12px;
	background-image: url(../img/orangeslice.png);
	background-repeat: no-repeat;
	background-position: 4% 33%;
}
h1 {
	display: inline-block;
	padding-left:85px;
}
ul {
	padding-top: 0;
	display: inline-block;
}

li {
	display: inline-block;
	text-align: right;
}
.heading {
	display: inline-block;
	padding-left: 650px;
	margin: 20px;
	word-spacing: 20px;

}
img {
	z-index: -1;
	position: absolute;
	bottom: 50px;
}
form {
	padding-left: 1100px;
	margin: auto;
	width:500px;
}
input {
	box-sizing: border-box;
	padding-top: 20px;
	text-align: left;
	position: absolute;
	top: 66px;
	background-color: #EEEEEE;
	outline: none;
	border-radius: 0px;
	background-image: url(../img/search.png);
	background-repeat: no-repeat;
	background-position: 130px 10px;
}
.middle {
	font-size: 42px;
	padding-top: 120px;
	padding-left: 600px;
}
p {
	color: #FE7F00;
	font-weight: bold;
}
.quote , .CaseStudies {
	display: inline-block;
	color: white;
}
.quote {
	background-color: #FE7C00;
	border:0;
	position: relative;
	left:750px;
	font-size: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
.CaseStudies {
	background-color: #7AC8CA;
	position: relative;
	left: 850px;
	font-size: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
footer {
	background-color: #7AC8CA;
	padding-bottom: 60px;
	position: relative;
	bottom: -75px;
	padding-right: 40px;
	width: 100%;
}
* {
	font-family: 'Comfortaa', cursive;
}
span {
	color: #91BBB9;
}
@media (max-width: 1348px) {
	.heading {
		padding-left: 200px;
	}
	form {
		padding-left: 250px;
	}
}
@media (max-width: 898px) {
	.heading {
		padding-left: 10px;
	}
	img {
		display: none;
	}
	.middle p {
		position: absolute;
		left: 200px;
		top: 100px;
	}
	footer {
		position: absolute;
		bottom: -75px;
	}
	.quote , .CaseStudies {
		position: relative;
		left: 200px;
		top: 200px;
		}
}
@media (max-width: 738px) {
	.quote , .CaseStudies {
		position: relative;
		top: 250px;
	}
}
@media (max-width: 708px) {
	form {
		position: absolute;
		top: 50px;
	}
	.middle {
		font-size: 30px;
		position: absolute;
		bottom: 300px;
	}
	.quote , .CaseStudies {
		position: relative;
		top: 350px;
	}
}
@media (max-width: 471px) {
	.navbar  {
		font-size: 10px;
	}
	.middle {
		position: absolute;
		right: 20px;
		top: 200px;
		font-size: 22px;
	}
	form {
		position: relative;
		right: 150px;
		top: 10px;

	}
	.quote , .CaseStudies {
		position: relative;
		left: 50px;
	}
}
@media (max-width: 430px) {
	.navbar {
		font-size: 8px;
	}
	.middle {
		font-size: 18px;
		position: relative;
		right: 100px;
		top: 100px;
	}
	.quote , .CaseStudies {
		position: relative;
		top: 200px;
	}
}
@media (max-width: 350px) {
	.quote , .CaseStudies {
		width: 50%;
		position: relative;
		bottom: 150px;
	}
	.middle {
		position: relative;
		right: 180px;
		top: 75px;
		font-size: 16px;
	}
	form {
		position: relative;
		top: 10px;
	}
	footer {
		display: none;
	}


}
